.App {
  text-align: center;
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
body {
  width: 100%;
}
 
.main--card {
  /* border-radius: 2rem; */
  /* border: 10px solid #000; */
  background: #fff;
  width: 100vw;
  min-height: 100vh;
  margin-top: auto;
  overflow: hidden;
}
.swiper-slide {
  width: 100%;
  height: 80vh !important;
}

.bg {
  width: 100%;
  height: inherit;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  will-change: transform;
}

.bg.bg1 {
  background-image: url(https://screenshots.rtl.nl/system/thumb/sz=720x404/uuid=73eaa5cf-d3aa-4797-9c6d-104879605df2);
}

.bg.bg2 {
  background-image: url(https://swiperjs.com/demos/images/nature-2.jpg);
}

.bg.bg3 {
  background-image: url(https://swiperjs.com/demos/images/nature-3.jpg);
}

.nyra-home-decor-original {
  color: #fa7800 !important;
  font-family: "Rounded Mplus 1c";
  font-size: 1.5rem;
  font-style: normal;
  margin-top: 0.5rem;

  font-weight: 800;
  line-height: normal;
  letter-spacing: -0.0675rem;
  padding: 0rem 0rem 0rem 4rem;
  display: flex;
  justify-content: center;
  width: fit-content;
  /* text-decoration: none; */
}

.rightcolumn-expanded {
  display: flex;
  justify-content: center;
}

.full-size-image-expanded {
  width: 50rem;
  border-radius: 20px;
  height: 35rem;
}

.nyra-home-decor-HOME {
  margin-left: -1px;
}
.nyra-home-decor-link {
  text-decoration: none;
  color: #fa7800 !important;
}

.nyra-home-decor-red {
  color: #ff6464 !important;
}

.nyra-home-decor-violet {
  color: #7a64ff !important;
}
.nav-items {
  list-style-type: none;
  display: flex;
  justify-content: center;
  padding: 0; /* Remove default padding */
}

.nav-items > li > a {
  padding: 0 15px; /* Adjust the padding as needed */
  color: #000 !important; /* Add !important to ensure your color is used */
  font-family: "Montserrat";
  font-size: 1rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: -0.045rem;
  text-decoration: none;
}

.nav-items > li:hover {
  cursor: pointer;
}

.nav-items > li > a.selected {
  color: #ff6464 !important; /* Add !important to ensure your color is used */
}

.info {
  justify-self: left;
  text-align: left;
  margin: 0 3.5rem; /* Adjust the margin as needed */
  z-index: 100 !important;
}

.row1 {
  padding: 2rem 6rem;
}
.slide {
  border-radius: 20px;
}
.info a {
  color: #000 !important;
  font-family: "Poppins";
  font-size: 0.9rem;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  letter-spacing: -0.72px;
  text-align: left;
  margin: 0rem 0.5rem;
  text-decoration: none !important;
}

.two-column-layout {
  display: flex;
  justify-content: space-between;

  flex-wrap: wrap;
  width: 100%;
  height: 100%;
  border-left: 1px solid transparent; /* This is the invisible vertical line */
}

/* .column {
  color: #000;
  height: 100%;
  overflow: hidden;
  padding-right: 10rem;
} */

.indexscreen-heading {
  color: #600f18;
  font-family: Poppins;
  font-size: 2.67rem;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  letter-spacing: -0.12rem;
  text-align: left;
  margin-bottom: 0;
}

.indexscreen-heading-lighter {
  color: #d26c6a;
  font-weight: 400;
}

.indexscreen-text {
  padding-left: 1.3rem;
  color: #606060;
  font-family: Poppins;
  font-size: 0.833rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1.67rem; /* 200% */
  text-align: left;
}

.indexscreen-image {
  width: 28rem;
  height: 28rem;
  flex-shrink: 0;
  overflow: hidden;
  margin-top: 2rem;
}

.full-size-image {
  width: 113%;
  height: 80%;
  object-fit: cover; /* Maintain aspect ratio and cover the container */
  border-radius: 1.75rem;
}

/* Adjust the styles for the button container */
.button-container {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  margin-right: 5rem;
}

.indexscreen-heading-expanded {
  margin-top: 4rem;
}
.indexscreen-heading-expanded-price {
  margin-top: 1rem;
  text-align: left;
}
.Button-know-more {
  margin-top: 2rem;
  background: linear-gradient(
    180deg,
    #ffd600 0%,
    #d26c6a 0.01%,
    #600f18 100%
  ); /* Green */
  width: 16rem;
  height: 4rem;
  border-radius: 20px;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  font-weight: bold;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}

.explore-button {
  /* position: absolute; */
  bottom: 14rem;
  width: 14rem;
  height: 3.7rem;
  background: linear-gradient(180deg, #ffd600 0%, #d26c6a 0.01%, #600f18 100%);
  color: #fff;
  border: none;
  padding: 0.5rem;
  cursor: pointer;
  text-align: center;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 10px;
  margin: 10px;
}
.carousel-main img {
  height: 33rem;
}
.carousel-slider{
  border-radius: 2rem;
}

@media only screen and (max-width: 800px) {
  .carousel-slider{
    width: 85% !important;
  }
  .rightcolumn {
    padding-left: 7.5rem;
  }
}

@media only screen and (max-width: 700px) {
  .carousel {
    width: 70% !important;
  }
  .rightcolumn {
    padding-left: 14.5rem !important;
  }
  .nav-items > li > a.selected {
    color: #ff6464 !important;
  }
  
  
}
@media only screen and (max-width: 550px) {
  .carousel-main img {
    width: 50% !important;
  }
  .rightcolumn {
    padding-left: 19.5rem !important;
  }
  .explore-button{
    display: none;
  }
}

@media only screen and (max-width: 490px) {
  .carousel-main img {
    width: 50% !important;
    height: 20rem;
  }
  .rightcolumn {
    padding-left: 24rem !important;
  }
  
}

/* Style for the white line on the left */
.explore-line {
  width: 0.2rem;
  height: 60%; /* Adjust the height as needed */
  background-color: #fff;
  margin-left: -1.5rem; /* Adjust the margin as needed */
}

/* Style for the "explore" text */
.explore-text {
  font-weight: 600;
}

/* Style for the arrow icon using FontAwesome */
.explore-icon::before {
  content: "\f178"; /* FontAwesome arrow character */
  font-size: 1rem; /* Adjust the size as needed */
  font-family: FontAwesome; /* Use the FontAwesome font family */
}

.indexscreen-text {
  /* margin: auto; */
  margin-left: -1rem;
  width: 28rem;
  /* overflow-wrap: break-word; */
  /* width: 100%; */
}
header {
  padding: 1rem;
  display: flex;
  justify-content: space-between;
  font-weight: bolder;
}
.column1 {
  padding-left: 5.3rem;
  padding-top: 6rem;
}

.main-content-container {
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  flex-wrap: wrap;
}

.all-images {
  width: 100%;
  padding: 2.5rem 4.5rem;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.small-image-container img {
  width: 15rem;
  height: 15rem;
  margin: 0rem 3rem 2rem 0;
  border-radius: 1rem;
}

@media only screen and (max-width: 1100px) {
  .small-image-container img {
    width: 15rem;
    height: 15rem;
    margin: 2rem;
  }
  .all-images {
    padding: 0;
  }
}
@media only screen and (max-width: 600px) {
  .small-image-container img {
    width: 8rem;
    height: 8rem;
    margin: 1rem;
  }
  .all-images {
    padding: 0;
  }
}
.leftcolumn {
  /* padding: 0rem 0rem 1rem 0rem; */
  margin-bottom: 14rem;
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.indexscreen-image-new {
  margin-top: 1rem;
  width: 48rem;
  height: 47rem;
  
  /* padding: 2rem; */
}
.indexscreen-text-new {
  width: 20rem;
  text-align: left;
  margin: 1rem 0rem;
}

.contact-info {
  color: #600f18;
  font-family: Poppins;
  font-size: 1rem;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  letter-spacing: 0.12rem;
  text-align: left;
  margin-bottom: 0;
}
.one{
  display: none;
}

@media only screen and (max-width: 1350px) {
  .leftcolumn {
    padding-left: 3rem;
    margin-bottom: 13.5rem;
  }
  .full-size-image {
    margin-top: 2rem;
  }
  .indexscreen-heading-expanded {
    margin-top: 2rem;
  }
}
@media only screen and (max-width: 1140px){
.leftcolumn {
    padding-left: 3rem;
    margin-bottom: 0.5rem;
}
}

@media only screen and (max-width: 1350px) {
  .leftnew {
    padding-left: 3rem;
    margin-bottom: 2.5rem;
  }
  .indexscreen-image-new-expanded img {
    margin-top: 2rem;
  }
}

@media only screen and (max-width: 860px) {
  .indexscreen-image-new-expanded img {
    width: 45rem;
  }
  .indexscreen-heading-expanded {
    text-align: center;
  }
  .indexscreen-text-new {
    text-align: center;
  }
  .indexscreen-heading-expanded-price {
    text-align: center;
  }
  .Button-know-more {
    margin-left: 2rem;
  }
  .indexscreen-text-new {
    width: 22rem;
    text-align: left;
    margin: 1rem 0rem;
  }
}
@media only screen and (max-width: 770px) {
  .indexscreen-image-new-expanded img {
    width: 40rem;
  }
  .indexscreen-heading-expanded {
    margin-top: 1rem !important;
  }
}

@media only screen and (max-width: 700px) {
  .indexscreen-heading-expanded {
    margin-top: 1rem;
    text-align: center;
  }
  .Button-know-more {
    margin-left: 2rem;
  }
  .info {
    margin: 12px 0px 0px 0px;
    width: 100%;
    background: linear-gradient(
      180deg,
      #ffd600 0%,
      #d26c6a 0.01%,
      #600f18 100%
    );
    padding: 1rem 0rem;
  }
  .info a {
    color: white !important;
    font-weight: 500;
  }
}

.container__slider{
  margin-top: 1rem 0rem !important;
  width: 100% !important;
  height: 30rem !important;
  border-radius: 0px !important;
}
.container__slider img{
  margin-top: 1rem 0rem !important;
  width: 100% !important;
}
.slider__item img {
  height: 62vh !important;
  border-radius: 0px !important;
}
.slider-component {
  display: flex;
  justify-content: center;
  height: 32rem;
}

@media only screen and (max-width: 670px) {
  .two{
    display: none;
  }
  .one{
    display: flex;
    height: 22rem;
  }
  /* .rightcolumn{
    display: none;
  } */
  .explore-button{
    display: none;
  }

  .indexscreen-image-new-expanded img {
    width: 30rem;
  }
  .Button-know-more {
    margin-left: 15rem;
  }
  .leftnew {
    margin-right: 15rem;
  }
  header {
    padding: 0px;
  }
  .indexscreen-heading {
    text-align: center;
    margin-top: -3rem;
  }
  .indexscreen-heading div {
    margin-right: 2.5rem;
  }
  .indexscreen-text-new{
    text-align: justify !important;
    margin-left: 11rem;
  }
  .index-text-expanded{
    margin-left: 12rem;
  }
  .carousel{
    margin-left: -48rem !important;
    
  }
  .carousel-root{
    margin-top: -1.5rem;
  }
  .carousel-main img {
  width: 50rem !important;
  border-radius: 2rem;
  height: 20rem;
  }
  .indexscreen-heading-expanded{
    display: flex;
    justify-content: center;
    padding-left: 14rem;
  }
  .info {
    margin-bottom: 0rem;
    margin-top: 0rem !important;
  }

}
@media only screen and (max-width: 400px) {
  .indexscreen-image-new-expanded img {
    width: 22rem;
    height: 20rem;
  }
  .leftnew {
    margin-right: 15rem;
  }
  .Button-know-more {
    margin-left: 15rem;
    margin-top: 0.5rem;
  }

}

@media only screen and (max-width: 500px) {
  .indexscreen-image-new-expanded img {
    width: 23rem;
    height: 20rem;
  }
 
}

@media only screen and (max-width: 1076px) {
  .leftcolumn {
    padding-left: 3rem;
    margin-bottom: 0rem;
  }

  .explore-button {
    margin-top: 25px;
  }
  .indexscreen-heading-expanded {
    margin-top: 3rem !important;
  }
  
}


@media only screen and (max-width: 700px) {
  
  .container__slider{
    height: 12rem !important;
  }

  .slider-component{
    height: 15rem;
    margin-top: -10px;
  }
  .navbar {
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
  }
  header {
    display: flex;
    justify-content: center;
    flex-direction: column;
  }
  .nav-items {
    width: 100%;
    /* margin-left: 3.5em; */
    padding: 0;
  }
  .nyra-home-decor-original {
    padding: 5px;
    width: 100%;
    /* margin-left: 0.8em; */
  }
  .info {
    display: flex;
    justify-content: center;
    margin-bottom: 1.5rem;
    margin-top: -1rem;
  }
  .two-column-layout {
    display: flex;
    justify-content: center;
    flex-direction: column;
  }
  .full-size-image {
    width: 100%;
    height: 100%;
    /* object-fit: cover; Maintain aspect ratio and cover the container */
  }
  .indexscreen-image {
    width: 92%;
    height: 44%;
    flex-shrink: 0;
    overflow: hidden;
    margin-top: -15rem;
    margin-left: 1rem;
  }
  .button-container {
    bottom: -3rem;
  }
  .explore-button {
    border-radius: 10px;
    margin-left: 3rem;
  }

  .indexscreen-text {
    display: flex;
    justify-content: center;
    width: 28rem;
    margin-top: 1rem;
    margin-left: -5rem;
  }
  .column {
    display: flex;
    justify-content: center;
    flex-direction: column;
  }
  .column1 {
    padding-top: 2rem;
  }
  .leftcolumn {
    /* margin-bottom: -1rem; */
    margin-top: -1rem;
  }

  .rightcolumn {
    height: 42vh;
    padding-left: 11rem;
  }
  .full-size-image {
    margin-top: 0rem;
    width: 60%;
    height: 44%;
  }
  .full-size-image {
    width: 60%;
    height: 44%;
  }
}
.selected-color {
  color: #ff6464 !important;
}

.cumming-soon{
  text-align: center;
      display: flex;
      justify-content: center;
      align-items: center;
      height: 70vh;
}

/* .cumming-soon {
  text-align: center;
  font-size: 24px;
} */

.cumming-soon span {
  display: inline-block;
  animation: dot-animation 2s infinite;
}

@keyframes dot-animation {
  0% { opacity: 0; }
  25% { opacity: 1; }
  50% { opacity: 0; }
  75% { opacity: 1; }
  100% { opacity: 0; }
}

.contact-us-details{
  margin-top: 4rem;
  font-size: x-large;
}



@media only screen and (max-width: 600px) {
  .map-div iframe {
  width: 20rem;
  height: 20rem;
  margin-left: -23rem;
  
  }
  .contact-us-details{
    margin-top: 1rem;
    
  }
  
.address{
  margin-left: -1.5rem;
  margin-top: 0px;
  text-align: center !important;
}
.we-are-OP{
  margin-left: -2rem;
  margin-top: 0rem;
}
.contact-info{
  margin-left: 1.2rem;
  font-size: large !important;
}
.contact-info-container{
  margin: 0rem !important;
}
.map-div{
  margin-top: 2rem;
}
}
